<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- INTERFACE PREFERENCES FOR DI -->
    <preference for="Elgentos\FalconMollie\Model\UpdateOrderResponseInterface" type="Elgentos\FalconMollie\Model\UpdateOrderResponse" />
    <preference for="Elgentos\FalconMollie\Api\Data\MollieResponseInterface" type="Elgentos\FalconMollie\Model\Data\MollieResponse" />

    <type name="Elgentos\FalconMollie\Model\UpdateOrderResponse">
        <arguments>
            <argument name="paymentMethodProcessors" xsi:type="array">
                <item name="mollie_methods_ideal" xsi:type="object">Elgentos\FalconMollie\Model\MollieIdeal\ProvideOrderRedirect</item>
                <item name="mollie_methods_bancontact" xsi:type="object">Elgentos\FalconMollie\Model\MollieIdeal\ProvideOrderRedirect</item>
            </argument>
        </arguments>
    </type>
    <type name="Mollie\Payment\Helper\General">
        <plugin sortOrder="1" name="elgentosFalconMollieGeneral"
                type="Elgentos\FalconMollie\Plugin\Helper\GeneralPlugin"/>
    </type>
</config>
